<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Streaming.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">
            @Streaming.ScheduleDate.ToShortDateString() @Streaming.StartTime.ToShortTimeString() - @Streaming.EndTime.ToShortTimeString()
        </h6>
        <a href="/d/@Streaming.Slug">Vai al dettaglio</a>
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public StreamingList.StreamingListItem Streaming { get; set; } = default!;
}
