@page "/archivio"
@inject StreamingsService Service

<PageTitle>Le mie dirette</PageTitle>
<HeadContent>
    <meta name="title" content="Le mie dirette" />
    <meta name="description" content="Qui puoi trovare l'elenco di tutte le dirette sia pianificate che già svolte sul canale" />
</HeadContent>

<h1>Le mie dirette</h1>
<hr />

<Loader Loading="loading">
    <EditForm class="row" role="form" Model="search" OnValidSubmit="SearchStreamingsAsync">
        <div class="col-md-2">
            <InputSelect @bind-Value="search.Sort" class="form-select">
                @foreach (var sort in Enum.GetValues<StreamingsSearchParameters.SortDirection>())
                {
                    <option value="@sort">@sort.GetDescription()</option>
                }
            </InputSelect>
        </div>
        <div class="col-md-8">
            <InputText @bind-Value="search.Query" class="form-control" placeholder="Cerca una diretta..." aria-label="Cerca una diretta" />
        </div>
        <div class="col-md-2">
            <button class="btn btn-outline-secondary" type="submit" id="button-search">Cerca</button>
        </div>
    </EditForm>
    <hr />

    <div class="row">
        @if (!model.Streamings.Any())
        {
            <div class="col-md-12">
                <h2>Nessuna live presente :(</h2>
            </div>
        }
        else
        {
            @foreach (var streaming in model.Streamings)
            {
                <div class="col-md-3 mb-2">
                    <StreamingItem Streaming="streaming" />
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="page navigation" class="d-flex">
                <ul class="pagination">
                    <li class="page-item">
                        <button disabled="@(search.Page == 0)" class="page-link" @onclick="MoveToPreviousPagePageAsync">
                            <span aria-hidden="true">&laquo;</span>
                            prec.
                        </button>
                    </li>
                    <li class="page-item">
                        <button disabled="@(!model.HasNextPage)" class="page-link" @onclick="MoveToNextPageAsync">
                            succ.
                            <span aria-hidden="true">&raquo;</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</Loader>

@code {
    private bool loading = false;

    private ArchiveViewModel model = new();

    private List<StreamingListItem> streamings = [];

    private StreamingsSearchParameters search = new();

    private async Task MoveToNextPageAsync()
    {
        if (model.HasNextPage)
        {
            search.Page++;
            await LoadStreamingsAsync();
        }
    }

    private async Task MoveToPreviousPagePageAsync()
    {
        if (search.Page > 0)
        {
            PageCursorProvider.RemoveCursor(search.Page);
            search.Page--;

            await LoadStreamingsAsync();
        }
    }

    private async Task LoadStreamingsAsync()
    {
        loading = true;

        try
        {
            model = await Service.GetStreamingsArchiveAsync(search);
        }
        finally
        {
            loading = false;
        }
    }

    private async Task SearchStreamingsAsync()
    {
        search.Page = 0;
        await LoadStreamingsAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadStreamingsAsync();
    }
}
