@page "/archivio"
@inject StreamingsService Service

<h1>Le mie dirette</h1>
<hr />

<div class="row">
    @if (!model.Streamings.Any())
    {
        <div class="col-md-12">
            <h2>Nessuna live presente :(</h2>
        </div>
    }
    else
    {
        @foreach (var streaming in model.Streamings)
        {
            <div class="col-md-3 mb-2">
                <StreamingItem Streaming="streaming" />
            </div>
        }
    }
</div>

@code { 
    private ArchiveViewModel model = new();

    protected override async Task OnInitializedAsync()
    {
        model = await Service.GetStreamingsArchiveAsync();
    }
}
