@page "/"

@inject StreamingsService Service

<PageTitle>Le mie dirette</PageTitle>
<HeadContent>
    <meta name="title" content="Le mie dirette" />
    <meta name="description" content="Qui puoi trovare l'elenco delle dirette pianificate sul canale" />
</HeadContent>

<h1>Dirette pianificate</h1>
<hr />

<div class="row">
    @if (!model.Streamings.Any())
    {
        <div class="col-md-12">
            <h2>Nessuna live pianificata</h2>
        </div>
    }
    else
    {
        @foreach (var streaming in model.Streamings)
        {
            <div class="col-md-6 mb-2">
                <StreamingItem Streaming="streaming" />
            </div>
        }
    }
</div>

@code {
    private IndexViewModel model = new();

    protected override async Task OnInitializedAsync()
    {
        model = await Service.GetStreamingsForHomePageAsync();
    }
}
