@page "/"

@inject StreamingsService Service

<PageTitle>Le mie dirette</PageTitle>
<HeadContent>
    <meta name="title" content="Le mie dirette" />
    <meta name="description" content="Qui puoi trovare l'elenco delle dirette pianificate sul canale" />
</HeadContent>

<h1>Dirette pianificate</h1>
<hr />

<Loader Loading="loading">
    <div class="row">
        @if (model.NextStreaming is null)
        {
            <div class="col-md-12">
                <h2>Nessuna live in programma</h2>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <StreamingItem Streaming="model.NextStreaming" />
            </div>
        }
    </div>

    @if (model.Streamings.Any())
    {
        <hr />
        <h2>Ultime live</h2>
        <div class="row">
            @foreach (var streaming in model.Streamings)
            {
                <div class="col-md-4 mb-2">
                    <StreamingItem Streaming="streaming" />
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="d-grid">
                    <a href="archivio" class="btn btn-outline-primary">
                        Vai all'archivio delle dirette
                    </a>
                </div>
            </div>
        </div>
    }
</Loader>

@code {
    private IndexViewModel model = new();

    private bool loading = false;

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        try
        {
            model = await Service.GetStreamingsForHomePageAsync();
        }
        finally
        {
            loading = false;
        }
    }
}
